body {
    padding-bottom: 40px;
}

textarea {
    resize: vertical;
    width: 100%;
}

#errors-container,
#warning-container {
    max-height: 300px;
    overflow: scroll;
}

#errors {
    font-family: monospace;
}

#credits{
    margin: 10px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 12px;
    float: right;
}

#recent-instruction {
    font-family: monospace;
    font-size: 12px;
}

#recent-instruction .current {
    font-weight: bold;
    color: #0074D9;
}

#registers,
#memory {
    font-family: monospace;
    font-size: 11px;
    white-space: nowrap;
}

#registers td,
#memory td {
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
}

#registers input.init-value {
    width: 70px;
    height: 1.5em;
    color: #777;
}

#memory-table {
    max-height: 600px;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#registers-head th {
    width: 33%;
    vertical-align: middle;
    text-align: center;
}

#memory-head th {
    width: 20%;
    vertical-align: middle;
    text-align: center;
}

#PC {
    text-align: center;
    size: 33%;
}